@model IEnumerable<Event.Web.Data.Entities.Voting>

@{
    ViewData["Title"] = "Index";
}

<h1 class="panel-body">Event Votings</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsEnableBlankVote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityVotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityBlankVotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CandidateWinId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEnableBlankVote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityVotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityBlankVotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CandidateWinId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> 

                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                
                <a asp-action="Delete" asp-route-id="@item.Id"class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
